body{
    background-color: rgb(210, 17, 17);
}

#btn{
    background-color: rgb(6, 6, 55);
}
/* #nav{
    height: 100vh;
    display: flex;
   align-items: center;
  justify-content: center; */


header{
    height: 100vh;
    display: flex;
   align-items: center;
  justify-content: center;

}
.one{
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    float:left;
    display: block;
    margin: 0; padding: 0; border: 0; outline: 0;}
.d-flex{
margin-right: 10px;
padding-right: 10px;
}
.container-fluid{
padding-left: 0px;
}